@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 69px;
    background-color: #ec362d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
    
header span {
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #ffffff;
}

main {
    width: 100vw;
    height: 100%;
    background-color: #fafafa;
}

.first-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-quizz-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 70vw;
    min-width: 340px;
    height: auto;
    background-color: #fafafa;
    border: 1px dashed #d4d4d4;
    border-radius: 5px;
    margin: 50px 0;
}

.create-quizz-empty p {
    width: 250px;
    padding: 3vw 0;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
}

.create-quizz-empty button {
    font-size: 21px;
    line-height: 25px;
    color: #ec362d;
    background-color: #fafafa;
    border: 1px dashed #ec362d;
    border-radius: 50px;
    margin-bottom: 33px;
}

.create-quizz-filled {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 70vw;
    height: auto;
}

.create-quizz-filled-icons {
    display: flex;
    align-items: center;
    /* flex-direction: column;
    
    justify-content: space-evenly;
    width: 70vw;
    height: auto;
    border: 1px dashed #d4d4d4;
    border-radius: 5px; */
    margin: 50px 0 15px;

}

.create-quizz-filled-icons p {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.create-quizz-filled-icons ion-icon {
    font-size: 30px;
    color: #ec362d;
    margin-left: 10px;
}

.your-quizzes-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.your-quizz {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, transparent 70%, #000000 98%), url(./paisagem-de-nevoeiro-matinal-e-montanhas-com-baloes-de-ar-quente-ao-nascer-do-sol_335224-794.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    position: relative;
    margin-bottom: 15px;
}

.your-quizz p {
    font-size: 19px;
    line-height: 22px;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 20px;
    margin-bottom: 10px;
}

.all-quizzes {
    width: 70vw;
    height: auto;
}

.all-quizzes p {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.all-quizzes-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.all-quizzes-display .quizz-one {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, transparent 70%, #000000 98%), url(./paisagem-de-nevoeiro-matinal-e-montanhas-com-baloes-de-ar-quente-ao-nascer-do-sol_335224-794.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    position: relative;
    margin-bottom: 15px;
}

.all-quizzes-display p {
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 20px;
    margin-bottom: 10px;
}

.seccond-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quizz-question {
    background-color: #ffffff;
    margin: 42px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-banner-title {
    width: 100vw;
    height: 227px;
    font-size: 39px;
    line-height: 46px;
    color: #ffffff;

    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(./paisagem-de-nevoeiro-matinal-e-montanhas-com-baloes-de-ar-quente-ao-nascer-do-sol_335224-794.webp) no-repeat center center;
    background-size: cover;
    position: relative;
}

.top-banner-title p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.question {
    width: 690px;
    height: 140px;
    background-color: #434ca0;
    margin: 30px 35px 10px;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-options-display {
    width: 690px;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.question-option {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.question-option img {
    width: 330px;
    height: 175px;
}

.question-option p {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.end-quizz {
    background-color: #ffffff;
    margin-top: 42px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.end-quizz-result {
    width: 690px;
    height: 140px;
    background-color: #ec362d;
    margin: 30px 35px 10px;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.end-results-details {
    width: 690px;
    height: 273px;
    margin-bottom: 25px;
    display: flex;
}

.end-results-details-img {
    width: 340px;
    height: 273px;
    background: url(./paisagem-de-nevoeiro-matinal-e-montanhas-com-baloes-de-ar-quente-ao-nascer-do-sol_335224-794.webp) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.end-results-details-text {
    width: 340px;
    height: 273px;
    margin-left: 10px;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
}

.reset-quizz-button {
    width: 260px;
    height: 52px;
    background-color: #ec362d;
    color: #ffffff;
    border-radius: 15px;
    font-size: 21px;
    line-height: 25px;
    border: none;
    margin: 20px 0 10px;
}

.return-home-button {
    width: 260px;
    height: 52px;
    background-color: #fafafa;
    color: #818181;
    border-radius: 15px;
    font-size: 21px;
    line-height: 25px;
    border: none;
    margin-bottom: 20px;
}

.third-screen {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basic-info-screen {
    height: 100%;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-screen span {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.third-screen p {
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    margin:0 0 45px;
}

.basic-info-quizz {
    width: 600px;
    height: 256px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 21px 0 21px;
}

.basic-info-quizz input{ 
    width: 564px;
    height: 46px;
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    margin: 0 0 10px;
    padding-left: 25px;

    font-size: 19px;
    line-height: 22px;
    color: #bababa;
}

.third-screen button {
    width: 370px;
    height: 54px;
    background-color: #ec362d;
    border-radius: 15px;
    margin: 85px 0 35px;
    border: none;
    color: #fff5f4;
    font-size: 21px;
    line-height: 25px;
}

.question-screen {
    height: 100%;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-1 {
    height: auto;
    display: flex;
    align-items: flex-start;
    
}

.question-1 span{
    margin: 10px 25px 25px;
}

.question-1 input{
    margin: 0 25px 10px;
    
    width: 564px;
    height: 46px;
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding-left: 25px;

    font-size: 19px;
    line-height: 22px;
    color: #bababa;
}

.question-2-hidden {
    width: 601px;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin: 25px 0 0;
}

.question-2-hidden span {
    margin-left: 45px;
}

.question-2-hidden ion-icon {
    margin-right: 25px;
    font-size: 25px;
}

.level-screen {
    height: 100%;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.level {
    height: auto;
    display: flex;
    align-items: flex-start;
}

.level span {
    margin: 10px 25px 25px;
}

.level input {
    margin: 0 15px 10px;    

    width: 564px;
    height: 46px;
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding-left: 25px;

    font-size: 19px;
    line-height: 22px;
    color: #bababa;
}

.quizz-ready {
    height: 100vh;
    margin-top: 15vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizz-img {
    background: url(./paisagem-de-nevoeiro-matinal-e-montanhas-com-baloes-de-ar-quente-ao-nascer-do-sol_335224-794.webp) no-repeat center center;
    background-size: cover;
    width: 500px;
    height: 266px;

    position: relative;
}

.quizz-img span {
    position: absolute;
    bottom: 25px;
    left: 25px;

    font-size: 23px;
    line-height: 27px;
    color: #ffffff;
}

.quizz-ready button {
    margin: 25px 0 0;
}

.quizz-ready .return-home-button {
    width: 260px;
    height: 52px;
    background-color: #fafafa;
    color: #818181;
    border-radius: 15px;
    font-size: 21px;
    line-height: 25px;
    border: none;
    margin-top: 15px;
}

.hidden {
    display: none;
}

.opacity {
    opacity: 0.4;
}

@media (max-width:990px) {
    .create-quizz-filled {
        flex-direction: column;
        align-items: center;
    }

    .create-quizz-filled-icons {
        justify-content: space-between;
        width: 340px;
    }

    .your-quizzes-display {
        flex-direction: column;
        align-items: center;
    }

    .all-quizzes {
        width: 340px;
    }

    .all-quizzes-display {
        flex-direction: column;
        align-items: center;
    }

    .top-banner-title {
        font-size: 3vw;
        line-height: 2vw;
        width: 100vw;
        height: 22vh;
    }

    .question {
        width: 95vw;
        max-width: 690px;
        height: 15vh;
        margin: 0;
    }

    .question-options-display {
        width: 95vw;
        max-width: 690px;
        height: auto;
    }

    .end-quizz {
        margin-top: 15px;
    }
}

@media (max-width:765px) {

    .question-option img {
        width: 45vw;
        height: 33vw;
    }

    .end-quizz-result {
        width: 90vw;
        max-width: 690px;
        height: 15vw;
        font-size: 1em;
        line-height: 1em;
        padding: 4vw;
        margin: 30px 2.5vw 10px;
    }

    .end-results-details {
        width: 90vw;
        height: auto;
        margin: 0 5%;

    }

    .end-results-details-img {
        width: 40vw ;
        max-width: 340px;
        height: 33vw;
        font-weight: 700;
        font-size: 1em;
        line-height: 1em;
    }

    .end-results-details-text {
        width: 40vw;
        max-width: 340px;
        height: 33vw;
        font-size: 1em;
        line-height: 1em;
    }

    .reset-quizz-button {
        width: 50vw;
        max-width: 260px;
        height: 52px;
        margin-top: 6vw;

        font-size: 1em;
        line-height: 1em
    }

    .return-home-button {
        width: 50vw;
        max-width: 260px;
        height: 52px;

        font-size: 1em;
        line-height: 1em
    }
    
}

@media (max-width:600px) {
    .basic-info-quizz {
        width: 100vw;
        max-width: 600px;
        height: auto;
    }

    .basic-info-quizz input{ 
        width: 90%;
    }

    .third-screen button {
        width: 65vw;
        height: 54px;
    }

    .quizz-img {
        width: 80vw;
        height: 55vw;           
    }

    .quizz-img span {  
        font-size: 1.2em;
        line-height: 1.2em;
    }

    .question-2-hidden {
        width: 100vw;
        height: 74px;
    }
}

@media (max-width:395px) {

    .question {
        font-size: 10px;
    }

    .question-option p{
        font-size: 10px;
    }

    .end-quizz-result { 
        font-size: 10px;
    }

    .end-results-details-img { 
        font-size: 10px;
    }
    
    .end-results-details-text {
        font-size: 10px;
    }  

    .basic-info-quizz input{ 
        font-size: 15px;
        padding-left: 10px;
    }

    .third-screen button {
        font-size: 15px;
    }

    .quizz-img span {  
        font-size: 15px;
    }
    
    .quizz-ready .return-home-button {
        font-size: 15px;
    }
}